@font-face {
  font-family: "apercu";
  src: url("font/apercu-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  color: #281e27;
  font-family: "apercu", sans-serif;
  background-color: #fff;
}

.nav {
  min-height: 50px;
  background-color: #fff;
}

.nav * img {
  padding: 8px 16px;
  margin-top: 2px;
  width: 100px;
  height: auto;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  .nav * img {
    width: 120px;
    height: auto;
  }
}
.page-header {
  text-align: center;
  padding: 6px 7px 7px;
  margin: 0;
  background-color: #ddf0d5;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 12px;
  color: #3a593a;
}

.page-wrapper {
  padding: 50px 20px;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 992px) {
  .page-wrapper {
    padding: 100px 20px;
  }
}

.page-content {
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e5dccc;
  box-shadow: 0px 4px 0px 0px #e5dccc;
}

@media screen and (min-width: 992px) {
  .page-content {
    padding: 40px;
  }
}

.page-content * {
  width: 100%;
}
